*{
	font-family:"微软雅黑";
	font-size:12px;
}
.bg-div{
    position:relative;
}
.bg-img{
    width:100%;
    height:auto;
}
.iphone-div{
    position:absolute;
    height:90%;
    width:18%;
    background-image:url(../img/index/iphone.png);
    background-size:auto 100%;
    background-repeat:no-repeat;
    top:5%;
    left:10%;
}
.iphone-div img{
    height:75%;
    width:87%;
    position:relative;
    top:12.5%;
    left:7%;    
}
.btn-div{
    text-align:center;
    margin-top:20px;
}
.btn-div input{
    height:150px;
    width:auto;
}
@media(max-width:768px){
    .btn-div input{
        width:80%;
        max-width:120px;
        height:auto;
    }
}
@media(min-width:768px){
    .btn-div2{
        text-align:right;
    }
    .btn-div4{
        text-align:left;
    }
}