*{
	font-size:12px;
    font-family:微软雅黑;
}
.address-box{
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
.flow-box{
    margin-bottom:30px;
}
@media(max-width:768px) {
    .flow-chart {
        width:80%;
        height:auto;
    }
}
.title{
    height:48px;
    background-color:#fdfdfd;
    border-top:2px solid #ef50a3;
}
.title h4{
    margin:0px;
    line-height:48px;
}
.divider{
    background-color:#ebebeb;
    height:2px;
}
.form-horizontal{
    background-color:#fbfbfb;
    padding-top:20px;
    color:gray;
    
}
.form-divider{
    height:1px;
    width:80%;
    background-color:#e1e1e1;
    margin-left:10%;
    margin-top:50px;
    margin-bottom:20px;
}
.btn{
    color:white;
    background-color:#f10180;
    border-color:#f10180;
}
.btn:hover,.btn:focus,.btn:active{
    background-color:#f43499;
    border-color:#f43499;
    color:white !important;
}
.bottom-border{
    height:3px;
    margin-top:20px;
    background-image:url(../img/bottom_border.png);
}