<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
		<mapping class="com.stee.iss.vms.entity.table.User" />
		<mapping class="com.stee.iss.vms.entity.table.Visitor" />
		<mapping class="com.stee.iss.vms.entity.table.VisitInfo" />
		<mapping class="com.stee.iss.vms.entity.table.PreVisitInfo" />
		<mapping class="com.stee.iss.vms.entity.table.VisitRecord" />
		<mapping class="com.stee.iss.vms.entity.table.CredentialsInfo" />
		<mapping class="com.stee.iss.vms.entity.table.Site" />
		<mapping class="com.stee.iss.vms.entity.table.ScanAgentSiteInfo" />
		<mapping class="com.stee.iss.vms.entity.table.view.View_Visit_Info" />
		<mapping class="com.stee.iss.vms.entity.table.view.View_Visit_Pre_Info" />
	</session-factory>

</hibernate-configuration>